<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista notificación de Correo</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="title">
                <h1>Zeleris</h1>
            </div>
            <div class="logo">
                <img width="150px" alt="Logo Zeleris" src="Zeleris.png"/>
            </div>
        </div>
    </header>
    <section class="frame">
        <div class="frame-content">
            <div class="text1">
                <p>acabas de recibir un permiso económico.</p>
            </div>
            <div class="text2">
                <p>[nombre del solicitante] ha solicitado un permiso económico</p>
            </div>
            <div class="text3">
                <p>Revisa con detalle el contenido del <span>permiso económico</span> que te
                     ha sido asignado y confirmar tu aceptación mediante la firma 
                     correspondiente. Haz click en el siguiente botón para ver los 
                     <span>DETALLES</span></p>
            </div>
            <button>Ver Detalles</button>
            <div class="text4">
                <p>[AVISO DE PRIVACIDAD]</p>
            </div>
        </div>
    </section>
</body>
</html>
